.task_box{
display: flex;
align-items: center;
justify-content: space-between;
background-color: #F2F2F2;
padding: 10px;

border-left: 4px solid;
border-color: #F2F2F2;
}
.task_box p{
    font-weight: 600;
    font-size: 14px;
}
.deleteIcon{
    color: red;
}

.deleteBtn{
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}